.filter {
    font-size: 18px;
    color: rgb(88, 56, 177);
    padding-left: 20px;
    padding-bottom: 10px;
}

.filterFinder {
    display: inline-block;
    width: 205px;
    border: 2px solid rgb(88, 56, 177);
    margin-left: 20px;
}